Case - Cancelamento de Clientes

Recentemente a empresa percebeu que da sua base total de clientes, grande maioria são clientes inativos, ou seja, que já cancelaram o serviço.

Nessa análise vamos desenvolver uma pesquisa para entender os principais motivos desses cancelamentos e quais as açoes mais eficientes para reduzir esse número.

# Passo a Passo:
# Passo 1: Importar a base de dados utilizando pandas
# Passo 2: Visualizaçao da base de dados (entender a base + identificar problemas)
# Passo 3: Tratamento dos dados da tabela
# Passo 4: Análise
#   Quantos clientes cancelaram?
#   Qual o $ de clientes que cancelaram?
# Passo 5: Análise da causa de cancelamento
#   Comparar outras colunas com a coluna cancelou

In [5]:
# Passo 1: Importar a base de dados utilizando pandas
import pandas as pd
tabela = pd.read_csv("cancelamentos.csv")

#Passo 2:Visualização da base de dados
tabela = tabela.drop(columns="CustomerID") #iremos retirar a variável CustomerID da visualização, pois não será útil para a análise
display(tabela)

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [6]:
#Passo 3: Tratamento dos dados da tabela
display(tabela.info()) #para visualizar as informações da tabela, teremos 881666 valores iniciais

#deletando valores vazios
tabela = tabela.dropna() #NaN is not a number = valores vazios
display(tabela.info()) #teremos 881659 valores, nenhum vazio

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881666 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881664 non-null  float64
 1   sexo                    881664 non-null  object
 2   tempo_como_cliente      881663 non-null  float64
 3   frequencia_uso          881663 non-null  float64
 4   ligacoes_callcenter     881664 non-null  float64
 5   dias_atraso             881664 non-null  float64
 6   assinatura              881661 non-null  object
 7   duracao_contrato        881663 non-null  object
 8   total_gasto             881664 non-null  float64
 9   meses_ultima_interacao  881664 non-null  float64
 10  cancelou                881664 non-null  float64
dtypes: float64(8), object(3)
memory usage: 74.0+ MB

None

<class 'pandas.core.frame.DataFrame'>
Index: 881659 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881659 non-null  float64
 1   sexo                    881659 non-null  object
 2   tempo_como_cliente      881659 non-null  float64
 3   frequencia_uso          881659 non-null  float64
 4   ligacoes_callcenter     881659 non-null  float64
 5   dias_atraso             881659 non-null  float64
 6   assinatura              881659 non-null  object
 7   duracao_contrato        881659 non-null  object
 8   total_gasto             881659 non-null  float64
 9   meses_ultima_interacao  881659 non-null  float64
 10  cancelou                881659 non-null  float64
dtypes: float64(8), object(3)
memory usage: 80.7+ MB

None

In [7]:
#Passo 4: Análise

#contagem de quantos clientes cancelaram
cancelou = tabela["cancelou"].value_counts()
display(cancelou)

# 0.0 = True - Não cancelaram
# 1.0 =  False - Cancelaram

# % de clientes que cancelaram
display(tabela["cancelou"].value_counts(normalize=True))

cancelou
1.0    499993
0.0    381666
Name: count, dtype: int64

In [14]:
#Passo 5: Análise da causa de cancelamento

#comparar as outras colunas da tabela com a coluna de concelamento

import plotly.express as px #plotly será utilizado para a visualizaçao de gráficos e comparação de colunas

#criaçao do gráfico
for coluna in tabela.columns:
    grafico = px.histogram(tabela, x="duracao_contrato", color="cancelou", text_auto=True)
    #exibição do gráfico
    grafico.show()

AttributeError: 'function' object has no attribute 'columns'